@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css";

/*------ CSS Styling ------*/
html {
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-image: url("../img/wall2-1920x1200.jpg");
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

#wrapper {
  height: 100%;
}

#header {
  height: 180px;
}

#container {
  max-width: 80%;
  height: 90%;
  background: linear-gradient(to bottom, #b5bdc8 0%,#002555 0%,#000D20 100%);
  border: 2px solid #002555;
  border-radius: 10px;
  /*top: 30%;
  transform: translateY(40%);*/
  margin: 70px auto;
  padding: 0 10px;
  color: #5387A1;
  margin-bottom: 110px;
  overflow: scroll;
}

#container h1 {
  text-align: center;
  color: #FFFFFF;
  border-bottom: 2px solid #052D5F;
}

#container table {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#container th, td {
  width: 14.3%;
  font-size: 16px;
  text-align: center;
}

#container th {
  color: #FFFFFF;
  font-size: 18px;
}

#container .pagination-area {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

#container button {
  color: #002351;
  border-radius: 3px;
  border: none;
  margin: 0 5px;
}

#container button:hover {
  background-color: #FAFAFA;
}

#container h5 {
  display: inline;
  color: #FAFAFA
}

#footer {
  background: linear-gradient(to bottom, #b5bdc8 0%,#002555 0%,#000D20 100%);
  height: 80px;
  width: 100%;
  bottom: 0;
  border-radius: 4px;
}
