<!DOCTYPE html>
<html ng-app="rankingApp">
  <head>
    <title>Starcraft Rankings</title>
    <!-- Include CSS and fonts  -->
    <link rel="stylesheet" href="css/main.css" type="text/css" /><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
    <!-- Include scripts  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
  </head>
  <body ng-controller="rankingController">
    <div id="wrapper">
      <div id="header"></div>

      <div id="container">

        <h1>Rankings</h1>

        <!-- <div class="stats-area">
          <div class="numPlayers">
            <div class="stat-title"><p>Number Of Players</p></div>
            <div class="stat-info">{{players.length}}</div>
          </div>
          <div class="numGames">
            <div class="stat-title"><p>Number Of Games Played</p></div>
            <div class="stat-info"></div>
          </div>
          <div class="racePopularity">
            <div class="stat-title"><p>Race Popularity</p></div>
            <div class="stat-info"></div></div>
          </div>
        </div> -->

        <div class="stats-area">
          <table>
            <tr class="stats-header">
              <th>Number Of Players</th>
              <th>Number Of Games Played</th>
              <th>Race Popularity</th>
            </tr>
            <tr>
              <td>{{players.length}}</td>
              <td>{{players.length}}</td>
              <td>
                Terran: {{players.length}},
                Zerg: {{players.length}},
                Protoss: {{players.length}}
              </td>
            </tr>
          </table>
        </div>

        <div class="ranking-area">
          <table>
            <tr class="header">
              <th ng-repeat="tableHeader in tableHeaders">
                {{tableHeader}}
              </th>
            </tr>
            <tr ng-repeat="player in players | orderBy: '-winPrct'| startFrom:currentPage*pageSize | limitTo:pageSize">
              <td>{{player.username}}</td>
              <td>{{player.name}}</td>
              <td>{{player.region}}</td>
              <td>{{player.race}}</td>
              <td>{{player.games}}</td>
              <td>{{player.wins}}</td>
              <td>{{player.losses}}</td>
              <td>{{player.winPrct}}</td>
            </tr>
          </table>
        </div>

        <div class="pagination-area">
          <button ng-disabled="currentPage == 0" ng-click="currentPage=0">
            First
          </button>
          <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
          </button>
          <h5>{{currentPage+1}}</h5>
          <button ng-disabled="currentPage >= players.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
          </button>
          <button ng-disabled="currentPage >= players.length/pageSize - 1" ng-click="currentPage=(players.length/pageSize) - 1">
            Last
          </button>
        </div>
      </div>

      <div id="footer">
        <p>Copyright &copy 2016</p>
      </div>
    </div>
  </body>
</html>
